honcho==0.7.1
asgiref==3.5.2
certifi==2022.6.15
charset-normalizer==2.1.1
Django==4.1
django-cors-headers==3.13.0
django-rest-framework==0.1.0
django-shortcuts==1.6
djangorestframework==3.13.1
dnspython==2.2.1
gunicorn==20.1.0
idna==3.3
pymongo==4.2.0
pytz==2022.2.1
requests==2.28.1
sqlparse==0.4.2
stripe==4.1.0
tzdata==2022.2
urllib3==1.26.12
whitenoise==6.2.0
ast
email.utils
errno
fcntl
html
importlib
inspect
io
logging
os
pwd
random
re
socket
sys
textwrap
time
traceback
warnings
